body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font: Arial;
    flex:1;
}
header {
    margin-top: 40vh;
    font-size:xx-large;
    font-weight: bolder;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.guess_time{

}
.random_letter{
}
#user-input {
    border-color: pink;
    width: 20vh;
}
#resetBtn {
    background-color: #007BFF;
    width: 20vh;

}
#resetBtn:hover {
    background-color: #0056B3;
} 